{% extends 'base.html' %}

{% block content %}


<div class="container">
    <h1 class="my-4">Customers</h1>

    <!-- Link to trigger modal -->
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addCustomerModal">
        Add New Customer
    </button>

    <!-- Search box -->
    <input type="text" id="searchInput" class="form-control mb-3" placeholder="Search for customers..">

    <!-- Table to list customers -->
    <table class="table table-bordered">
        <!-- Table header -->
        <thead>
            <tr>
                <th>Name</th>
                <th>City</th> <!-- Changed from 'Author' to 'City' -->
                <th>Age</th>  <!-- Added 'Age' -->
                <th>Actions</th>
            </tr>
        </thead>
        <!-- Table body -->
        <tbody>
            <!-- Loop through customers and display each customer -->
            {% for customer in customers %}
            <tr>
                <td>{{ customer.name | safe }}</td>
                <td>{{ customer.city | safe }}</td>  <!-- Display 'city' instead of 'author' -->
                <td>{{ customer.age }}</td>  <!-- Display 'age' -->
                <td>
                    <a href="#" class="btn btn-warning btn-sm" onclick="editCustomer({{ customer.id }})">Edit</a>
                    <button class="btn btn-danger btn-sm" onclick="deleteCustomer({{ customer.id }})">Delete</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<!-- Add Customer Modal -->
<div class="modal fade" id="addCustomerModal" tabindex="-1" role="dialog" aria-labelledby="addCustomerModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCustomerModalLabel">Add New Customer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Add Customer Form -->
                <form id="addCustomerForm">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Enter customer name" required>
                    </div>
                    <div class="form-group">
                        <label for="city">City</label>
                        <input type="text" class="form-control" id="city" placeholder="Enter city" required>
                    </div>
                    <div class="form-group">
                        <label for="age">Age</label>
                        <input type="number" class="form-control" id="age" placeholder="Enter age" required>
                    </div>



                    <button type="submit" class="btn btn-primary">Add Customer</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Edit Customer Modal -->
<div class="modal fade" id="editCustomerModal" tabindex="-1" role="dialog" aria-labelledby="editCustomerModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editCustomerModalLabel">Edit Customer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Edit Customer Form -->
                <form id="editCustomerForm">
                    <div class="form-group">
                        <label for="edit_name">Name</label>
                        <input type="text" class="form-control" id="edit_name" placeholder="Enter customer name" required>
                    </div>
                    <div class="form-group">
                        <label for="edit_city">City</label>
                        <input type="text" class="form-control" id="edit_city" placeholder="Enter city" required>
                    </div>
                    <div class="form-group">
                        <label for="edit_age">Age</label>
                        <input type="number" class="form-control" id="edit_age" placeholder="Enter age" required>
                    </div>
                    <button type="button" class="btn btn-primary" id="saveEditCustomerButton">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Include Axios -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<!-- Custom JavaScript file (customers.js) -->
<script src="{{ url_for('static', filename='js/customers.js') }}"></script>


{% endblock %}
